/* Fonts */
html,body { 
	color: #333;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	min-height: 100%
}

body .container { max-width: 1060px; padding: 0; }

@font-face {
    font-family: 'odin';
    src: url('../../fonts/odin_rounded_-_regular-webfont.eot');
    src: url('../../fonts/odin_rounded_-_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/odin_rounded_-_regular-webfont.woff') format('woff'),
         url('../../fonts/odin_rounded_-_regular-webfont.ttf') format('truetype'),
         url('../../fonts/odin_rounded_-_regular-webfont.svg#odin_roundedregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'odin';
    src: url('../../fonts/odin_rounded_-_light-webfont.eot');
    src: url('../../fonts/odin_rounded_-_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/odin_rounded_-_light-webfont.woff') format('woff'),
         url('../../fonts/odin_rounded_-_light-webfont.ttf') format('truetype'),
         url('../../fonts/odin_rounded_-_light-webfont.svg#odin_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Butons */
.odin {
	font-family: 'odin';
	text-transform: uppercase;
}
h2.odin {
	font-size: 2.3em;
	margin-top: 20px;
	line-height: 1.5em;
	margin-bottom: 10px;
}
h3.odin {
	font-size: 1.8em;
}
h4.odin {
	display: inline-block;
	font-size: 1.5em;
}

a {
	color: #44aaee;
}
.btn-primary {
	background-color: #44aaee;
	border-color: #44aaee;
	color: #FFF;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #2288EE;
	border-color: #2288EE;
	outline: none;
}
.btn-primary:active {
	background-color: #1177DD;
	border-color: #1177DD;	
}

.btn-important {
	background-color :#58ac31;
	border-color: #58ac31;
	color: #FFF;
}
.btn-important:hover, .btn-important:focus {
	background-color: #449933;
	border-color: #449933;
	outline: none;
	color: #FFF;
}
.btn-important:active {
	background-color: #228833;
	border-color: #228833;	
	color: #FFF;
}

.btn-default {
	color: #44aaee;
}

/* Generics */

h1 {
	font-size: 2.5rem;
}

h2 {
	font-family: 'odin', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	padding-top: 7px;
	margin-top: 35px;
	margin-bottom: 20px;
}
.list-group-item h3 {
	font-size: 1.2rem;
}
.list-group-item h4 {
	font-size: 1.3rem;
}

.pledge-value {
    color: #58ac31;
}

a { color: #44aaee;}
a:active,
a:hover { color: #1199ee; text-decoration: none; }

.panel-heading h2 {
	font-size: 18px;
	padding: 15px 0 0 0; /* Fix for Odin font */
	margin: 0;
}

.panel > .panel-body h1:first-child, .panel > .panel-body h2:first-child, .panel > .panel-body h3:first-child, .panel > .panel-body h4:first-child, .panel > .panel-body h5:first-child {
    margin-top: 20px;
}

.modal-header h2 {
	margin-bottom: -7px; /* Fix for Odin font */
}

.illustration-step {
	background-color: #44aaee;
}

/* Toolbar */
.navbar.navbar-blank {
	border: 0;
	border-bottom: 3px solid #44aaee;
	margin-bottom: 0;
	border-radius: 0;
	padding: 15px 20px;
}

.navbar.navbar-blank li {
	float: left;
}

.navbar.navbar-blank li a {
	display: block;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border-radius: 3px;
}

.navbar.navbar-blank li a:hover,
.navbar.navbar-blank li a:active {
	color: #44aaee;
	text-decoration: none;
}

.navbar.navbar-blank .navbar-brand {
	padding: 0;
	height: auto;
}

.navbar.navbar-blank .navbar-brand img {
	max-width: 100%;
	max-height: 50px;
}

.nav-menu-element {
	margin-top: 4px;
}

.navbar.navbar-blank .input-group input {
	border: 1px solid #D0D0D0;;
	background: none;
	box-shadow: none;
	width: 160px;
}

.navbar.navbar-blank .input-group button.input-merged-btn {
	font-size: 20px;
	color: #44aaee;
	top: 0;
}

.navbar.navbar-blank form {
	margin-right: 20px;
	border-radius: 3px;
}

.navbar.navbar-blank .mobile form {
	margin-right: 10px;
}

.navbar.navbar-blank form input:focus {
	background:#FFFFFF;
}

.navbar .dropdown-menu {
	left: auto;
	right: 0 ;
}
.navbar .dropdown .btn {
	padding: 6px 10px;
	text-align: right;
}
.navbar .dropdown li {
	float: none;
}

nav.navbar.navbar-blank .btn {
	padding: 7px 10px;
	font-size: 13px;
	line-height: 18px;
}
.navbar.navbar-blank .btn.btn-avatar {
	padding: 0;
}

@media screen and (max-width: 1400px)  {
	.navbar.navbar-blank li a {
		padding: 12px 8px;
		font-size: 13px;
	}
	.navbar.navbar-blank .navbar-brand {
		width: 180px;
	}
	.navbar.navbar-blank .navbar-brand a {
		padding-top: 8px;
	}
	.navbar.navbar-blank input {
		max-width: 130px;
		font-size: 11px;
	}
	.navbar .input-merged-btn {
		margin-right : 0;
	}
}

@media screen and (max-width: 992px) {
	h1 {
		font-size: 2rem;
	}
	.navbar.navbar-blank .navbar-brand {
		width: 150px;
	}
	.panel-heading.tabs .nav>li>a {
		padding: 15px 10px;
		font-size: 12px;
	}
	#slides li > div .caption {
		font-size: 15px;
	}
	body .container { max-width:  95%; width: 95%; }
	body .project-container {
		width: 95%;
	}
	body .project-container .project-content {
		width: 100%;
		padding-top: 20px;
	}
	body .project-container .project-sidebar {
		width: 100%;
	}
	.project-gauge-action {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding:10px;
		background: #FFF;
		z-index: 100;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
}

/* Banners */

.container-wrapper.header h1 {
	padding: 15px 20px;
	background: rgba(0,0,0,0.3);
	font-size: 2.8rem;
	font-weight: 700;
	border-radius: 3px;
}
.container-wrapper.header {
	background : url(/img/mmc/banners/main-theme.gif) repeat fixed top left #357aba;
}
.container-wrapper.header.about-projects, .container-wrapper.header.orange-theme {
	background-image : url(/img/mmc/banners/orange-theme.gif);
	background-color : #e2725c;
}
.container-wrapper.header.about-investor, .container-wrapper.header.about-investors, .container-wrapper.header.green-themes {
	background-image : url(/img/mmc/banners/green-theme.gif);
	background-color : #488c6d;
}
.container-wrapper.header.about-confidentiality, .container-wrapper.header.maroon-theme {
	background-image : url(/img/mmc/banners/maroon-theme.gif);
	background-color : #50403b;
}
.main-background {
	background: url(/img/mmc/banners/main-background.gif?4) #fafaf5;
}

/* Nav & tabs */

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #44AAEE;
	border-color: #44AAEE;
}
.panel-heading.tabs .nav-tabs, .nav-tabs {
	background-color: #44AAEE;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.nav-tabs>li>a {
	color: #FFF;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.nav>li.active>a,
.nav>li>a:hover,
.nav>li>a:focus {
	color: #333;
	background-color: #FFF;
}

/* Prefooter */
.prefooter {
	width: 100%;
	background : url(/img/mmc/banners/dark-theme.gif) repeat fixed top left #29364b;
	color: #fff;
	position: relative;
	padding: 20px 0;
}
.prefooter hr {
	border-color: rgba(255,255,255,0.3);
	border-style: dashed;
	margin: 0; 
	margin-bottom: 10px;
}
.prefooter .menu {
	margin-top: 20px;
	width: 100%;
	bottom: 0;
	border-top: dashed 1px #6d6f6d;
	text-align: center;
}
.prefooter ul li {
	padding-bottom: 15px;
}
.prefooter a {
	color: #fff;
}
.prefooter a:hover,
.prefooter a:active {
	color: #44aaee;
	text-decoration: none;
}

@media screen and (max-width: 992px) {
	.prefooter .menu {
		text-align: left;
	}
	.prefooter .menu ul li a {
		border:none;
	}
	.prefooter .menu ul li {
		display:block;
	}
}

/* Footer */
footer {
	border-top: 1px solid #DFDFDF;
	padding: 15px 25px 10px 25px;
}

footer img {
	vertical-align: top;
}

footer .text-center {
	padding-top: 5px;
}

footer .copy {
	line-height: 20px;
	color: #727272;
	font-size: 15px;
}

footer .nav {
	float:right;
}

footer .nav ul, footer .nav .options {
	float: left;
}

footer li {
	float: left;
}

footer li a,
footer li span {
	display: block;
	color: #727272;
	font-size: 15px;
	padding: 5px 20px;
}

footer li a:hover,
footer li a:active {
	color: #44aaee;
	text-decoration: none;
}

footer .form-group {
	padding-left: 20px;
}


@media screen and (max-width: 992px) {
	/* Mobile */
	footer li {
		float: none;
	}
	footer li a {
		padding: 10px 0;
	}
	footer .nav , footer .nav ul, footer .nav .options {
		float: none;
	}

}

/* Category list */

.category-list li {
	
    padding: 9px 0;
	border-bottom: 1px dotted #ccc;
    font-size: 15px;
    font-weight:bold;
    color:#333;
	
}

.category-list li a{

	color:#333;

}

.category-list li:last-child {
	
    border-bottom:none;
	
}

.category-list li a:hover, .category-list li a:active, .category-list li a:focus, .category-list li.active a{
    
    color: #4AE;
    
}

.discover-projects-sidebar{

width: 20%;
float: right;
padding: 20px;
border-left: 1px solid #D0D0D0 ;

}

.discover-projects-list{

	width: 80%;
	float: left;
	margin-top: 10px;

}
.discover-projects-list .project-item {

    width: 243px;
    float: left;
    margin: 10px 20px 20px 0;

  }

  .discover-content{

  	width: 100%;
  	margin: 0 auto;
  }

.discover-map{

	width: 70%;
	float: right;

}

.discover-overlay{
	
	background: #4ae;
	width: 30%;
	min-height: 500px;
	float: left;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
}

.discover-overlay p{

	margin: 20px 0;
}

.discover-overlay h1{

	font-family: 'odin', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	border-bottom: 1px solid #fff;
	font-weight: bolder;
	margin-bottom: 20px;
	padding-bottom: 8px;
}

.discover-overlay h2{

	font-family: "nimbus-sans", Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: normal;
	text-transform: none;
	padding: 0;
	margin: 0;
}


.overlay-localisation{

	font-size: 12px;
	font-weight: bold;
	color:#fff;
	border: 1px solid white;
	padding: 9px 14px;
	border-radius: 3px;
	text-align: center;
	width: 400px;
}

.fa.fa-location-arrow{

	margin-right: 5px;
	font-size: 19px;
	font-weight: normal;
	vertical-align: middle;
}

.fa span {
	margin-top: -18px;
	display: block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 10px;
}

.overlay-localisation:hover,.overlay-localisation:active{

	background: rgba( 0, 0, 0, 0.2);
    color: #fff;
}

.container-overlay-searchbar{
color: #333;
background: #fff;
border-radius: 3px;
padding: 2px 0;
position: relative;
}

.overlay-searchbar-input{
border: none;
padding: 5px 14px;
outline: none;
width: 100%;
}

.container-toolbar-searchbar{
color: #333;
background: #fff;
border-radius: 3px;
position: relative;
font-size: 18px;
}

.input-searchbar{
outline: none;
box-shadow: 0;
}


/* Single column */

@media screen and (max-width: 788px) {

  .discover-projects-list {
    width: 100%;
    padding: 20px;
  }

  .discover-projects-sidebar{

	height: 100%;
	min-height: 100%;
	width: 100%;

	}


  .discover-projects-list .project-item  {
  	width : 100%;
  }

  .discover-overlay{

  	width:100%;
  	float:none;
  	min-height: 135px;
  }

  .discover-map{

  	width: 100%;
  	float:none;
  }


}

/* 3 columns */

@media screen and (min-width: 789px) and (max-width: 992px)  {

  .discover-content {
    width: 789px;
  }

  .discover-projects-list{

	width: 66.67%;

	}

  .discover-projects-sidebar{

	width: 33.33%;

	}

	.discover-overlay{

  	width:50%;

  }

  .discover-map{

  	width: 50%;
  }
}

/* 4 columns */

@media screen and (min-width: 1052px) and (max-width: 1314px) {
  .discover-content {
    width: 1052px;
  }

  .discover-projects-list{

	width: 75%;

}

  .discover-projects-sidebar{

	width: 25%;

	}

	.discover-overlay{

  	width:40%;

  }

  .discover-map{

  	width: 60%;
  }

}

/* 5 columns */
@media screen and (min-width: 1315px) and (max-width: 1577px) {
.discover-projects-list{

	width: 80%;

}

.discover-projects-sidebar{

	width: 20%;

}
  .discover-content {

    width: 1315px;

  }

}

/* 6 columns */
@media screen and (min-width: 1578px) {

.discover-projects-list{

	width: 83.34%;

}

.discover-projects-sidebar{

	width: 16.66%;

}
  .discover-content {
    width: 1578px;
  }
}

/* Project item */
.project-item { padding: 3px; border-radius: 5px; border: 1px solid #d0d0d0; margin-bottom: 40px; }
h3.project-name {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	min-height: 30px;
	margin-top: 15px;
	height: 30px;
	word-break: break-word;
	overflow: hidden;
	margin-bottom: 10px;
}
.project-item .project-localization {
	height: 20px;
	overflow: hidden;
}
.project-item .description { padding: 0 10px; word-break: break-word; }
.project-item .project-short-description { height: 104px; word-break: break-word; overflow: hidden; }

.project-item .project-gauge { padding-top: 15px; }
.project-item .categories { white-space: nowrap; overflow: hidden; tex }
.project-item .project-avatar, .project-avatar img {display:block; width: 100%;}

/* Gauge */
.gauge.fullscale .pic-goal.secondary-goal { background: #3c3c3c; padding: 2px 5px; }
.gauge.fullscale span.secondary-goal:after { border-top: 3px solid #3c3c3c; }
.gauge .infos { color: #333; }
.gauge .infos span { color: #777; }
.gauge .infos span span { display: block; }

.project-item .gauge { height: 60px; }
.gauge .graph { background: #3c3c3c; height: 10px; }
.gauge .graph.overflow .fill { background: #93e528; height: 10px; }
.gauge .graph.fullscale .fill { background: #58ac31; height: 10px; }
.gauge .pic-goal { top: -18px; }

.gauge .graph .fill-completed { border: none; background: #58ac31; height: 100%; }

span.pic-goal, .gauge span.pic-goal {
	padding: 2px 5px;
	background: #58ac31;
}

span.pic-goal:after {
	border-top: 3px solid #58ac31;
}

/* Project page */

.project-identity h1 {
	font-weight: bold;
}

@media screen and (max-width: 992px) {
	.project-identity {
		padding: 10px 0;
	}
}

.mmc-modules .module h2 {
	padding-top: 15px;
	margin-bottom: -10px;
	font-size: 22px;

}
.mmc-modules .module h3 {
	font-size: 18px;
}

#project-identity-wrapper .btn {
	/* Force color to bind page customization */
	color: #FFF;
}

/* Blue ribbon */
.home-background { color: #fff; }

.dark-home-background { background: url('/img/mmc/banners/dark-theme.gif') repeat fixed left top #29364B;}
/* Projects */

.project-create-banner, .project-create-banner-wrapper
{
	background: url(/img/mmc/create-intro-image.jpg) no-repeat 50% 50% #222;
	min-height: 180px;
	background-size: cover;
	box-shadow: inset 0 -4px 0 rgba(0,0,0,0.2);
}
.project-create-banner h1 {
	margin: 0;
	padding: 35px 0;
	color: #FFF;
}
.project-create-banner h1+h5 {
	margin: 0;
	margin-top: -10px;
	color: #FFF;
}
.project-create-banner p {
	color: #FFF;
}
.project-container {
	width:990px;
	margin: 0 auto;
}
.project-container .project-content {
	width:70%;
	padding:0 10px;
	float:left;
}
.project-container .project-sidebar {
	width:30%;
	padding:0 10px;
	float:right;
}
.project-description {
	line-height: 22px;
	font-size: 14px;
}
.project-content, .project-sidebar {
	margin-top:-20px;
}

/* Pages statiques */

.long-text h2 {
	margin-top: 0;
	border-color:  #58ac31;
}
.long-text p + h2 {
	margin-top: 30px;
}
.tabs-list {
	padding-top: 30px;
}
.tabs-list li.title a {
	color: #333;
}

.tabs-list li.title a:hover {
	color: #4ae;
}

/* How to create */
.big-bullet {
	display: block;
	margin: 7px auto;
	width: 40px;
	text-align: center;
	background: #44aaee;
	color: #FFF;
	height: 40px;
	border-radius: 50%;
	line-height: 37px;
	font-size: 20px;
	font-weight: 700;
	box-shadow: 0 0 0 3px #44aaee;
	border: 2px solid #FFF;
}

.text-medium h3 {
	margin: 20px 0;
	font-size: 16px;
}

.text-medium p {
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 20px;
	color: #777777;
}

.block-gauge .gauge {
	height: 65px;
}

.form-control, .form-control:focus, .form-control:hover, .form-control:active {
	outline: none;
	box-shadow: none;
	background: #fff;
}

.container-overlay-searchbar .input-merged-btn{
	top: 5px;
	font-size: 20px;
	margin-right: 6px;
}

.input-merged-btn {
	top: 1px;
	font-size: 16px;
	margin-right: 6px;
}

.container-caption{
	position: absolute;
	bottom: 0;
	border-top: 3px solid #FFF;
	font-size: 20px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #FFF;
}

.container-caption-inner{

}

#slides li > div .caption {
	border: 0;
	background: none;
}

.bullet-slideshow{
	width: 18px;
	height: 18px;
	background: #58AC31;
	border-radius: 50%;
	margin-top: -10px;
	border: 3px solid #FFFFFF;
	display: inline-block;
	margin: 9px 11px;
}

.bullet-slideshow.current{
	width: 36px;
	height: 36px;
	background: #58AC31;
	border-radius: 50%;
	margin-top: -10px;
	border: 3px solid #FFFFFF;
	display: inline-block;
	margin: 0 10px;
	background: url('/images/couronne_blanc.png') no-repeat scroll center center / 16px 16px #58AC31;
}

.container-bullet-slideshow{
	padding: 10px 0;
	width: 100%;
	position: absolute;
	text-align: center;
	top: -30px;
}

/* Cart */

.project-cart-heading h3 {
	margin: 0;
	font-size: 18px;
	padding: 5px 0;
}

.mmc-couronne {
    background: url('/images/couronne_vert.png') no-repeat scroll center center / 100% auto transparent;
	display: inline-block;
	width: 28px;
	height: 28px;
	vertical-align: 11px;
}

i.fa.fa-send {
	background: none;
	color: #555;
	border-radius: 0;
	text-align: center;
}

.social-links {
	margin-bottom: 20px;
}
.social-links i {
	font-size: 27px;
}

